<ion-content padding>
    <ion-item>
      <ion-label floating>Email ou um nickname</ion-label>
      <ion-input type="text" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <button ion-button block (click)="login()">Entrar</button>
    <button ion-button block clear (click)="createAccount()">Criar conta</button>
</ion-content>
