<ion-header>

  <ion-navbar>
    <ion-title>Novo contato</ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()">Salvar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="contact.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="contact.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="contact.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data de nascimento</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="contact.birth"></ion-datetime>
    </ion-item>

</ion-content>
