<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Início</ion-title>
    <ion-buttons end>
      <ion-spinner name="crescent" *ngIf="loading">
      </ion-spinner>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p class="empty-state" *ngIf="!contacts.length">
    Nenhum dado para mostar, experimente clicar no botão abaixo para adicionar um novo contato!
  </p>

  <ion-card *ngFor="let i of contacts">

    <ion-card-header>
      <div class="header">
        <span>Nome: {{i.name}}</span>
        <ion-buttons end>
          <button ion-button icon-only clear color="danger" (click)="showRemoveDialog(i)">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          </button>
          <button ion-button icon-only clear (click)="edit(i._id)">
            <ion-icon ios="ios-eye" md="md-eye"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </ion-card-header>
  
    <ion-card-content>
      <p>Email: {{i.email}}</p>
      <p>Telefone: {{i.phoneNumber}}</p>
      <p>Data de nascimento: {{i.birth}}</p>
    </ion-card-content>

  
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="newContact()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
