<ion-header>

  <ion-navbar>
    <ion-title>Criar conta</ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()" [disabled]="loading">
        <span *ngIf="!loading">Salvar</span>
        <ion-spinner name="crescent" *ngIf="loading">
        </ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" [disabled]="loading"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" [disabled]="loading"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Digite novamente a senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.retypePassword" [disabled]="loading"></ion-input>
      </ion-item>
  

</ion-content>
